<div id="step1" class="grid welcome">
    {% set minutesStepOne = 4 %}
    {% set minutesStepTwo = 2 %}
    {% set minutesStepThree = 2 %}
    {% set minutesStepFour = 2 %}

    {% if not stepsFinished[1] %}{% set minutes = minutes + minutesStepOne %}{% endif %}
    {% if not stepsFinished[2] %}{% set minutes = minutes + minutesStepTwo %}{% endif %}
    {% if not stepsFinished[3] %}{% set minutes = minutes + minutesStepThree %}{% endif %}
    {% if not stepsFinished[4] %}{% set minutes = minutes + minutesStepFour %}{% endif %}
    <h2><span class="icon-clock-o icon-3x mr-s"></span> {% trans with {'%1': minutes } %}wizard.time_to_sell{% endtrans %}</h2>
    <div class="col-1-4">
        <div class="welcome-item{% if activeStep == 1 %} welcome-active animated bounce{% endif %}{% if stepsFinished[1] %} welcome-done{% endif %}">
            {% if not isMiniWizard %}
                <i class="icon-dropbox"></i>
                <span class="welcome-done-sign">Done!</span>
            {% endif %}
            <h5>
                {% if stepsFinished[1] %}
                    <span class="icon-check"></span>
                {% else %}
                    <span>1.</span>
                {% endif %}
                {{ 'wizard.step1.title'|trans }}
            </h5>
            {% if not isMiniWizard %}
                <p>{{ 'wizard.step1.description'|trans }}</p>
            {% endif %}
            <p class="mb-n"><a href="{{ url('admin_product_new') }}" class="button button-primary">{{ 'wizard.step1.action'|trans }}</a></p>
            <p class="fz-s">{% trans with {'%1': minutesStepOne } %}wizard.estimated_time{% endtrans %}</p>
        </div>
    </div>
    <div class="col-1-4">
        <div class="welcome-item{% if activeStep == 2 %} welcome-active animated bounce{% endif %}{% if stepsFinished[2] %} welcome-done{% endif %}">
            {% if not isMiniWizard %}
                <i class="icon-map-marker"></i>
                <span class="welcome-done-sign">Done!</span>
            {% endif %}
            <h5>
                {% if stepsFinished[2] %}
                    <span class="icon-check"></span>
                {% else %}
                    <span>2.</span>
                {% endif %}
                {{ 'wizard.step2.title'|trans }}
            </h5>
            {% if not isMiniWizard %}
                <p>{{ 'wizard.step2.description'|trans }}</p>
            {% endif %}
            <p class="mb-n"><a href="{{ url('admin_address_edit') }}" class="button button-primary">{{ 'wizard.step2.action'|trans }}</a></p>
            <p class="fz-s">{% trans with {'%1': minutesStepTwo } %}wizard.estimated_time{% endtrans %}</p>
        </div>
    </div>
    <div class="col-1-4">
        <div class="welcome-item{% if activeStep == 3 %} welcome-active animated bounce{% endif %}{% if stepsFinished[3] %} welcome-done{% endif %}">
            {% if not isMiniWizard %}
                <i class="icon-credit-card"></i>
                <span class="welcome-done-sign">Done!</span>
            {% endif %}
            <h5>
                {% if stepsFinished[3] %}
                    <span class="icon-check"></span>
                {% else %}
                    <span>3.</span>
                {% endif %}
                {{ 'wizard.step3.title'|trans }}
            </h5>
            {% if not isMiniWizard %}
                <p>{{ 'wizard.step3.description'|trans }}</p>
            {% endif %}
            <p class="mb-n"><a href="{{ url('admin_payment_configuration_list') }}" class="button button-primary">{{ 'wizard.step3.action'|trans }}</a></p>
            <p class="fz-s">{% trans with {'%1': minutesStepThree } %}wizard.estimated_time{% endtrans %}</p>
        </div>
    </div>
    <div class="col-1-4">
        <div class="welcome-item{% if activeStep == 4 %} welcome-active animated bounce{% endif %}{% if stepsFinished[4] %} welcome-done{% endif %}">
            {% if not isMiniWizard %}
                <i class="icon-truck"></i>
                <span class="welcome-done-sign">Done!</span>
            {% endif %}
            <h5>
                {% if stepsFinished[4] %}
                    <span class="icon-check"></span>
                {% else %}
                    <span>4.</span>
                {% endif %}
                {{ 'wizard.step4.title'|trans }}
            </h5>
            {% if not isMiniWizard %}
                <p>{{ 'wizard.step4.description'|trans }}</p>
            {% endif %}
            <p class="mb-n"><a href="{{ url('admin_carrier_new') }}" class="button button-primary">{{ 'wizard.step4.action'|trans }}</a></p>
            <p class="fz-s">{% trans with {'%1': minutesStepFour } %}wizard.estimated_time{% endtrans %}</p>
        </div>
    </div>
</div>
