<div id="step1" class="grid welcome">
    {% if not stepsFinished[1] %}{% set minutes = minutes +3 %}{% endif %}
    {% if not stepsFinished[2] %}{% set minutes = minutes +4 %}{% endif %}
    {% if not stepsFinished[3] %}{% set minutes = minutes +3 %}{% endif %}
    {% if not stepsFinished[4] %}{% set minutes = minutes +2 %}{% endif %}
    <h2><span class="icon-clock-o icon-3x mr-s"></span> {% trans with {'%1': minutes } %}You are <strong>%1 minutes</strong> away to start selling:{% endtrans %}</h2>
    <div class="col-1-4">
        <div class="welcome-item{% if activeStep == 1 %} welcome-active animated bounce{% endif %}{% if stepsFinished[1] %} welcome-done{% endif %}">
            {% if not isMiniWizard %}
                <i class="icon-dropbox"></i>
                <span class="welcome-done-sign">Done!</span>
            {% endif %}
            <h5>
                {% if stepsFinished[1] %}
                    <span class="icon-check"></span>
                {% else %}
                    <span>1.</span>
                {% endif %}
                {{ 'Add products'|trans }}
            </h5>
            {% if not isMiniWizard %}
                <p>{{ 'The most important thing in your store... after your customers.'|trans }}</p>
            {% endif %}
            <p class="mb-n"><a href="{{ url('admin_product_new') }}#breadcrumb" class="button">{{ 'Create my first product'|trans }}</a></p>
            <p class="fz-s">{% trans with {'%1': '4' } %}Estimated time %1 min{% endtrans %}</p>
        </div>
    </div>
    <div class="col-1-4">
        <div class="welcome-item{% if activeStep == 2 %} welcome-active animated bounce{% endif %}{% if stepsFinished[2] %} welcome-done{% endif %}">
            {% if not isMiniWizard %}
                <i class="icon-map-marker"></i>
                <span class="welcome-done-sign">Done!</span>
            {% endif %}
            <h5>
                {% if stepsFinished[2] %}
                    <span class="icon-check"></span>
                {% else %}
                    <span>2.</span>
                {% endif %}
                {{ 'Setup your address'|trans }}
            </h5>
            {% if not isMiniWizard %}
                <p>{{ 'To start selling on internet you need to setup your place of business'|trans }}</p>
            {% endif %}
            <p class="mb-n"><a href="{{ url('admin_address_edit') }}#breadcrumb" class="button">{{ 'Add an address'|trans }}</a></p>
            <p class="fz-s">{% trans with {'%1': '2' } %}Estimated time %1 min{% endtrans %}</p>
        </div>
    </div>
    <div class="col-1-4">
        <div class="welcome-item{% if activeStep == 3 %} welcome-active animated bounce{% endif %}{% if stepsFinished[3] %} welcome-done{% endif %}">
            {% if not isMiniWizard %}
                <i class="icon-credit-card"></i>
                <span class="welcome-done-sign">Done!</span>
            {% endif %}
            <h5>
                {% if stepsFinished[3] %}
                    <span class="icon-check"></span>
                {% else %}
                    <span>3.</span>
                {% endif %}
                {{ 'Setup the payments'|trans }}
            </h5>
            {% if not isMiniWizard %}
                <p>{{ 'Do you want to be paid? Just need to say how and where. '|trans }}</p>
            {% endif %}
            <p class="mb-n"><a href="{{ url('admin_payment_configuration_list') }}#breadcrumb" class="button">{{ 'Setup payments methods'|trans }}</a></p>
            <p class="fz-s">{% trans with {'%1': '2' } %}Estimated time %1 min{% endtrans %}</p>
        </div>
    </div>
    <div class="col-1-4">
        <div class="welcome-item{% if activeStep == 4 %} welcome-active animated bounce{% endif %}{% if stepsFinished[4] %} welcome-done{% endif %}">
            {% if not isMiniWizard %}
                <i class="icon-truck"></i>
                <span class="welcome-done-sign">Done!</span>
            {% endif %}
            <h5>
                {% if stepsFinished[4] %}
                    <span class="icon-check"></span>
                {% else %}
                    <span>4.</span>
                {% endif %}
                {{ 'Setup the shipping'|trans }}
            </h5>
            {% if not isMiniWizard %}
                <p>{{ "You need to define the carriers and the costs. (Even if it's free)" }}</p>
            {% endif %}
            <p class="mb-n"><a href="{{ url('admin_carrier_new') }}#breadcrumb" class="button">{{ 'Add a carrier' }}</a></p>
            <p class="fz-s">{% trans with {'%1': '2' } %}Estimated time %1 min{% endtrans %}</p>
        </div>
    </div>
</div>
