{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Configuration Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            'Plugins': {
                    'url': url('admin_plugin_list')
                },
                ('Disqus'): {
                    'active': true
                }
            }
        }
    %}
{% endblock breadcrumb %}


{% block content %}

    {% if plugin.configuration['disqus_identifier'] == '' %}
        <p class="msg-warning">{{ "Warning! In order to enable Disqus you need to set your ID"|trans }}</p>
    {% endif %}

    <form class="form" method="POST">
        <fieldset>
            <div class="col-1-3">
                <h2 class="fw-n">Disqus Setup</h2>
                <a target="_blank" href="https://disqus.com/">Go to disqus</a>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <label for="disqus_identifier">{{ 'Disqus tracking ID'|trans }}</label>
                            <input id="disqus_identifier" type="text" name="disqus_identifier" value="{{ plugin.configuration['disqus_identifier'] }}" placeholder="2583573" />
                        </li>
                    </ol>
                </div>
                <div class="box">
                    <ol>
                        <li>
                            <div class="switch">
								<input name="disqus_enabled_product" id="disqus_enabled_product" type="checkbox"{% if plugin.configuration.disqus_enabled_product %} checked="checked"{% endif %}>
								<label for="disqus_enabled_product"></label>
							</div>
                            {% trans %}Enable disqus on product page{% endtrans %}
                        </li>
                        <li>
                            <div class="switch">
								<input name="disqus_enabled_blog_post" id="disqus_enabled_blog_post" type="checkbox"{% if plugin.configuration.disqus_enabled_blog_post %} checked="checked"{% endif %}>
								<label for="disqus_enabled_blog_post"></label>
							</div>
                            {% trans %}Enable disqus on blog post page{% endtrans %}
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary">{{ 'Save'|trans }}</button>
            </div>
        </fieldset>
    </form>
{% endblock content %}
