{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.plugin.plural'|trans, url: url('admin_plugin_list') },
            { name: 'google_analytics_plugin.title'|trans, active: true },
        ]}
    %}

{% endblock breadcrumb %}


{% block content %}

    <form class="form" method="POST">
        <fieldset>
            <div class="col-1-3">
                <h2 class="fw-n">{{ 'google_analytics_plugin.section.settings.title'|trans }}</h2>
                <a target="_blank" href="https://www.google.com/analytics/web/">
                    {{ 'google_analytics_plugin.action.visit_google'|trans }}
                </a>
            </div>
            <div class="col-2-3">
                <div class="box">
                    <ol>
                        <li>
                            <label for="analytics_tracker_id">
                                {{ 'google_analytics_plugin.field.tracking_id'|trans }}
                            </label>
                            <input id="analytics_tracker_id" type="text"
                                   name="analytics_tracker_id"
                                   value="{{ plugin.configuration['analytics_tracker_id'] }}"
                                   placeholder="UA-XXXXXXXX-X" />
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-1-3">
                &nbsp;
            </div>
            <div class="col-2-3">
                <button type="submit" class="button-primary">{{ 'ui.forms.save'|trans }}</button>
            </div>
        </fieldset>
    </form>

{% endblock content %}
