<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.metatitle }}</title>
    <meta name="description" content="{{ page.metadescription }}">
    <meta name="keywords" content="{{ page.metakeywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>{{ page.title }}</h1>
    {{ page.content|raw }}
</body>
</html>
